html, body { height: 100%; padding: 0; margin: 0; }
#div1, #div2, #div3, #div4 { float: left; }
#div1 { background: #DDD; width: 49.5%; height: 49.5%; }
#div2 { background: #AAA; width: 49.5%; height: 49.5%; margin-left: 1%; }
#div3 { background: #777; width: 49.5%; height: 49.5%; margin-top: 1%; }
#div4 { background: #444; width: 49.5%; height: 49.5%; margin-left: 1%; margin-top: 1%; }

.feature_info {
    padding: 6px 8px;
    font: 24px/28px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.info {
    padding: 6px 8px;
    font: 18px/20px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 22px;
    color: #555;
}
.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
